<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <title>Buttons</title>
    <style>

        a.btn.btn-danger.btn-lg{
            color: #fff;
            background: #f0ad4e;
            border: #eea236;
        }
        input.btn.btn-info{
            width: 200px;
        }

        .btn.btn{
            margin: 1px;
        }

        body{
            margin: 10px;
        }
    </style>
</head>
<body>

<a class="btn btn-primary" href="#">Primary</a>
<button class="btn btn-danger">Danger</button>
<input type="button" class="btn btn-info" value="Info">
<a class="btn btn-danger btn-lg" href="#">Danger and Large</a>
<button class="btn btn-default btn-sm">Default and Small</button>
<input type="button" class="btn btn-success btn-xs" value="Success and Extra Small">
<br>

<a class="btn btn-warning btn-lg" href="#">Warning and Large</a>
<button class="btn btn-default btn-lg">Large</button>
<input type="button" class="btn btn-danger btn-xs" value="Danger and Extra Small">
<a class="btn btn-default" href="#">btn</a>
<button class="btn btn-info btn-sm">Info and Small</button>
<input type="button" class="btn btn-default btn-xs" value="Extra Small">

</body>
</html>