<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <title>Forms</title>
    <style>
        body{
            margin: 10px;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
<form>
    <div class="form-group">
        <label for="firstName">Firstname</label>
        <input type="text" class="form-control" id="firstName">
    </div>
    <div class="form-group">
        <label for="lastName">Lastname</label>
        <input type="text" class="form-control" id="lastName">
    </div>

    <div class="input-group">
        <input type="email" class="form-control" placeholder="email" id="email">
        <span class="input-group-addon">@hotmail.com</span>
    </div>

    <div class="form-group">
        <label for="comments">Comments</label>
        <textarea class="form-control" id="comments"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit form</button>

</form>
</div>
</div>

</body>
</html>