<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <title>Glyphicons</title>
    <style>
        .glyphicon{
            font-size: 30px;
        }
        body{
            margin: 10px;
        }
    </style>
</head>
<body>

<span class="glyphicon glyphicon-star"></span>
<span class="glyphicon glyphicon-trash"></span>
<span class="glyphicon glyphicon-remove"></span>
<span class="glyphicon glyphicon-arrow-right"></span>
<span class="glyphicon glyphicon-arrow-left"></span>
<span class="glyphicon glyphicon-heart"></span>
<span class="glyphicon glyphicon-heart-empty"></span>
<span class="glyphicon glyphicon-flash"></span>

</body>
</html>