<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <title>Panels</title>
    <style>
        .panel{
            display: inline-grid;
            margin: 10px;
        }

        body{
            margin: 10px;
        }

    </style>
</head>
<body>

<div class="panel panel-success">
    <div class="panel-heading">
        <div class="panel-title">
            My title
        </div>
    </div>
    <div class="panel-body">
        Some content in my panel body
    </div>
    <div class="panel-footer">
        My footer
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        <div class="panel-title">
            My title
        </div>
    </div>
    <div class="panel-body">
        Some content in my panel body
    </div>
    <div class="panel-footer">
        My footer
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">
            My title
        </div>
    </div>
    <div class="panel-body">
        Some content in my panel body
    </div>
    <div class="panel-footer">
        My footer
    </div>
</div>

</body>
</html>