<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <title>Tables</title>
</head>
<body>
<!--table-striped table-bordered table-hover table-condensed-->
<table class="table">
    <tbody>
    <tr class="warning">
        <th>Name</th>
        <th>Breed</th>
        <th>Location</th>
    </tr>
    <tr class="success">
        <td>Kennel Double Barrel</td>
        <td class="info">Parson Russel Terrier</td>
        <td>Bromölla</td>
    </tr>
    <tr class="danger">
        <td>Brightness kennel</td>
        <td>Irish Wolfhound</td>
        <td>Hörby</td>
    </tr>
    <tr class="info">
        <td>Kyang La</td>
        <td>Tibetan Mastiff</td>
        <td>Hjärnarp</td>
    </tr>
    </tbody>
</table>

<div class="table-responsive">
<table class="table table-bordered table-striped">
    <tbody>
    <tr>
        <th>Name</th>
        <th>Breed</th>
        <th>Location</th>
        <th>Kennel Double Barrel</th>
        <th>Parson Russel Terrier</th>
        <th>Bromölla</th>
        <th>Bromölla</th>
    </tr>
    <tr>
        <td>Brightness kennel</td>
        <td>Irish Wolfhound</td>
        <td>Hörby</td>
        <td>Kyang La</td>
        <td>Tibetan Mastiff</td>
        <td>Hjärnarp</td>
        <td>Bromölla</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>Breed</td>
        <td>Location</td>
        <td>Kennel Double Barrel</td>
        <td>Parson Russel Terrier</td>
        <td>Bromölla</td>
        <td>Bromölla</td>
    </tr>
    <tr>
        <td>Brightness kennel</td>
        <td>Irish Wolfhound</td>
        <td>Hörby</td>
        <td>Kyang La</td>
        <td>Tibetan Mastiff</td>
        <td>Hjärnarp</td>
        <td>Bromölla</td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>